body
{
     background-color:#353638;
     color: #000;
     
}

#search-wrap {
    background: #000;
    width: 1000px;
    height: 30%;
    color: #fff;
    padding: 25px 25px;
    margin:0px auto;
}

form{
      display: inline;
      width: 100px;
}

#catalog
{
    background: #fff;
    width: 1000px;
    color: #000;
    padding: 25px 20px;
    margin:0px auto;
}

#showAll{
     padding: 5px 20px;
     margin:0px auto;
}

#otherForms{
     
    background: #fff;
    width: 500px;
    height: 50%;
    color: #000;
    padding: 40px 55px;
    text-align: center;
    margin:0px auto;
    
     
}

#spacer{
     height: 100px;  
}
     
     
     
