body
{
     background-color:#000;
     color: #000;
     
}

#search-wrap {
    background: #000;
     font-family: 'Quicksand', sans-serif;

    width: 700px;
    height: 40%;
    color: #fff;
    padding: 25px 25px;
    margin:0px auto;
   
    
}


form{
      display: inline;
      width: 100px;
}

a
{
      color: #000;
      font-style: bold;
}

#catalog
{
    background: #fff;
    width: 700px;
     font-family: 'Quicksand', sans-serif;
     font-size: 20px;
    color: #000;
    padding: 25px 20px;
    padding-bottom: 60px;
    margin:0px auto;
}

#showAll{
     padding: 5px 20px;
     margin:0px auto;
}

#otherForms{
     
    background: #fff;
    width: 500px;
    height: 50%;
    color: #000;
    padding: 40px 55px;
    text-align: center;
    margin:0px auto;
    
     
}

#adminButtons{
 text-align: center;
 padding-top: 40px;
 padding-bottom: 40px;
}

#albumSection
{
     padding-left: 100px;
       

}

#spacer{
     height: 50px; 
     font-family: 'Quicksand', sans-serif;
     font-size: 55px;
     color: #fff;
     padding-top: 20px;
     padding-bottom: 40px;
     text-align: center;
}
#spacerLog{
     height: 50px; 
     
     color: #fff;
     padding-top: 40px;
     text-align: center;
}

#adminLogin{
      padding-top: 30px;
      text-align: right;
      padding-right: 100px;
}


input[type=submit] {
  
    padding: 10px 24px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    border-radius: 20px;
   
} 

button
{
    padding: 10px 24px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    background: #000;
        border: 1px solid #fff;

    border-radius: 20px;

}
     
     
