    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:#000;
    }
    
    input {
        font-size: 3em;
        color: #000;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
         color: #000;
    }