body
{
    background-color: #000;
    color: #fff;
    
}


#content
{
    font-family: 'Baloo Bhaina', cursive;
    color: #fff;
    font-size: 25px;
    background-color: #000;
    width:600px;
    height:500px;
    position:relative;
    margin:0 auto;
}